Breakpoints_v2.xcbkptlist
# Xcode user data
xcuserdata/
*.xcuserdatad
*.xcuserstate

# Build files
DerivedData/
build/

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

Config/Config.xcconfig
# Logs
*.log